body{
   /*filter: sepia(0) contrast(1) brightness(1) saturate(1) hue-rotate(-24deg);*/
 }

a{
  color: #414141;
}
footer{
  margin-top: auto!important;
  background-color: #2a2b28;
  color: #6e6c65;
}
#bildPåMig{
  height: 100%;
  width: 100%;
  border: 10px solid rgb(70, 153, 238);
}

.card{
  border-radius: 3px;
  box-sizing: border-box;
}
.card-header{
  border-radius: 3px;
}
.btn{
  border-radius: 2px;
}
.devIcons{
  font-size: 1.5em;
  padding: 0;
  color: white;
}
.merinfo{
  margin: 8px;
  background: rgba(24, 186, 227, 0.51);
}
.navbar{
  padding: 2px 24px;
}
#memory{
  margin-top: 90px;
  max-width: 600px;
}
@media only screen and (max-width: 600px) {
  #memory{
    margin-top: 120px;
    max-width: 600px;
  }
  #test{
    font-size: 0.5em;
  }
}
