body{
   /*filter: sepia(0) contrast(1) brightness(1) saturate(1) hue-rotate(-24deg);*/
 }

a{
  color: #414141;
}
footer{
  margin-top: auto!important;
  background-color: #2a2b28;
  color: #6e6c65;
}
#bildPåMig{
  height: 100%;
  width: 100%;
  border: 10px solid rgba(29, 30, 25, 0.53);
}

.card{
  border-radius: 3px;
  box-sizing: border-box;

}

.card-header{
  border-radius: 3px;
}

.btn{
  border-radius: 2px;
}

.devIcons{
  font-size: 1.5em;
}
.navbar{
  padding: 2px 24px;
}