:root {
  --white: white;
  /* --dark2-bg: #494f5c; */
  --light-bg: rgb(250, 250, 255);
  --light-text: rgb(250, 250, 255);
  --dark-bg: #282e34;
  --dark-text: #282e34;
  --buttom: #494f5c;
  --buttom-hover: #626a7a;
  --text-hover: rgb(108, 108, 139);
  --prime: #e0851c;

  --dark-transparent: rgba(0, 0, 0, 0.2);
  --item-border-radius: 3px;
}
.big-screen-menu {
  display: none;
}

body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
  font: 400 15px/1.8 'Lato', sans-serif;
  color: #777;
  box-sizing: border-box;
  overflow-x: hidden;
}

.lightbg {
  background-color: var(--light-bg);
  color: var(--dark-text);
}

.bigPadding {
  padding: 50px 80px;
}
.bold {
  font-weight: bold;
}
.darkbg {
  background-color: var(--dark-bg);
  color: var(--light-text);
}
.texteffect {
  /* color: transparent; */
  /* background: #666666; */
  /* -webkit-background-clip: text; */
  /* -moz-background-clip: text; */
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url('../images/code.jpg');
  min-height: 100%;
  width: 100%;
}

.bgimg-2 {
  background-image: url('../images/jag.jpg');
  min-height: 400px;
  width: 100%;
  filter: saturate(10%);
}

.bgimg-3 {
  background-image: url('../images/mittfoto.jpg');
  min-height: 400px;
  width: 100%;
  filter: saturate(50%);
}

.listitem {
  background-color: var(--light-bg);
  color: var(--dark-text);
  border: 1px solid rgb(180, 180, 180);
  border-radius: var(--item-border-radius);
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;
}
.listitem:hover {
  /* background-color: rgb(250, 250, 250); */
  color: var(--text-hover);
  transform: scale(1.01);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
}
.employment {
  transform: scale(1) !important;
  box-shadow: none !important;
}
.nomargins {
  margin: 0px;
}
.lighttext {
  color: #2f2f2f;
  /* background: #e8e8e8; */
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(255, 255, 255, 1);
}
.time {
  text-align: right;
}
.emailme {
  text-align: center !important;
  font-size: 1.4em !important;
  color: var(--prime);
  margin: auto;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: var(--prime);
}

.caption span.border {
  background-color: var(--dark-bg);
  color: var(--prime);
  padding: 18px;
  margin: 4px;
  font-size: 23px;
  letter-spacing: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: var(--prime);
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px 'Lato', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 4px;
}
.prime {
  color: var(--prime);
}

h5 {
  padding-top: 8px;
  margin: 0;
}
p.time {
  padding: 0px 4px 0px 4px;
  margin: 0;
}
p.info {
  margin: 0;
}

.hidden {
  display: none;
}
.notHidden {
  display: block;
}

.action {
  background-color: var(--buttom);
  color: var(--light-text);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: var(--item-border-radius);
  cursor: pointer;
}
.action:hover {
  background-color: var(--buttom-hover);
}

div.info {
  background-color: var(--white);
  color: black;
  padding: 8px;
  margin: 0px 20px 8px 20px;
  position: relative;
  top: -8px;

  border-radius: 0 0 8px 8px;

  -webkit-box-shadow: inset 0px 5px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 5px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 5px 4px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-device-width: 1024px) {
  body,
  html {
    padding: 0;
    margin: 0;
    width: 100%;
    max-zoom: 1;
    min-zoom: 1;
    overflow-x: hidden;
  }
  div {
    padding: 0px;
  }
  h5 {
    padding-top: 8px;
    margin: 0;
  }

  h2 {
    text-align: center;
  }
  h4 {
    text-align: center;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    margin-bottom: 8px;
  }

  h3 {
    letter-spacing: 5px;
    font: 20px 'Lato', sans-serif;
    color: var(--light-text);
    font-size: 2em;
    text-align: center;
  }
  div.emailme {
    background-color: var(--dark-bg);
    border: none;
  }
  .emailme {
    font-size: 15px !important;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: var(--item-border-radius);
    border: solid 1px var(--prime);
    background-color: var(--dark-transparent);
    font-weight: bolder;
  }
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    padding: 0;
    margin: 0;
    width: 100%;
    background-attachment: scroll;
  }
  div.info {
    margin: 0px !important;
  }
  .caption span.border {
    background-color: var(--dark-bg);
    color: var(--prime);
    padding: 18px;
    margin: 4px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .smalText {
    font-size: 10px !important;
  }
  .bigPadding {
    padding: 4px;
  }
}
